<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/restaurants/new">Search/Add Restaurants</a>
    <a href="/users/new"> Add User </a>
    <a href="/restaurants">View all Restaurants</a>
    <a href="/users">View all Users</a>
    <br>
    <%=yield%>
  </body>
</html>
